.container{
    width: 90vw;
    background-color: #11142d;
    /* height: 75vh; */
    box-sizing: border-box;
    padding: 2vw 2vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.text{
    background-color: inherit;
    font-size: 1.4rem;
    margin-bottom: 2vh;
}

.dates{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    background-color: inherit;
    margin-top: 2vh;

}

.dates div{
    background-color: inherit;
    font-size: 1.4rem;
    margin-bottom: 2vh;
}

.dates div:nth-child(3){
    color: var(--mintish);
}

.dates div:nth-child(4){
    color: var(--mintish);
}

