.container{
    width: 100vw;
    height: 4vh;
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    position: fixed;
    border-top: 1px solid var(--greyish);
    background-color: #12142f;
}

.link{
    font-size: 0.8rem;
    color: whitesmoke;
}

